@charset "utf-8";
body{
    background-image: url('../img/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-width: 200px;
    position: relative;
}
#home{
    text-align: left;
    font-size: 1.5em;
    border: 1px solid black;
    background-color: rgba(90, 181, 255, 0.575);
    border-radius: 10px;
    text-shadow: none;
    box-shadow: 1px 2px 3px black;
    padding: 5px;
    position: absolute;
    left: 0%;
    top: 0%;
    transition: 0.5s;
    
}
main{
    
    box-shadow: 4px 2px 6px black;
    margin: auto;
    text-align: center;
    max-width: 120vh;
    min-width: 10vh;
   }
header{
    background-color: black;
    border: 1px solid white;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 150px;
    max-width: 120vh;
    min-width:10vh;
    font-variant: small-caps;
}
h1{
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 3em;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: rgba(74, 131, 133, 0.671);
    text-decoration: underline;
    border-radius: 5px;
    padding: 3px;
}
p{
    text-indent: 25px;
}
#p1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    max-width: 100vh;
    min-width:10vh;
    line-height: 1.5em;
    
    position: absolute;

    padding-left: 15px;
    top:8%;
}
#p2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    max-width: 100vh;
    min-width:10vh;
    
    line-height: 1.5em;
    position: absolute;

    padding-left: 15px;
    top:26%;
}
#p3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    max-width: 100vh;
    min-width:10vh;
    
    line-height: 1.5em;
    position: absolute;
    padding-left: 15px;
    top:45%;
}
#p4{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.589);
    font-size: 3vh;
    max-width: 100vh;
    min-width:10vh;
    
    line-height: 1.5em;
    position: absolute;

    padding-left: 15px;
    top: 65%;
    

}
#p5{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    max-width: 100vh;
    min-width:10vh;

    line-height: 1.5em;
    position: absolute;

    padding-left: 15px;
    top:82%;
}
#p6{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    max-width: 100vh;
    min-width:10vh;

    line-height: 1.5em;
    position: absolute;

    padding-left: 15px;
    top:90%;
}

article{
    background-color: white;
    height: 850px;
    text-align: left;
    min-width: 5vh;
}
#a1{
    background-image: url('../img/background001.jpg');
    background-attachment: fixed;
    background-position: bottom right;

    
    height: 750px;
    max-width: 120vh;
    min-width:10vh;

}
#a2{
    background-image: url('../img/background002.jpg');
    background-attachment: fixed;
    background-position: bottom right;
    background-size: cover;
    height: 750px;
    max-width: 120vh;
    min-width:10vh;
}
